*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    letter-spacing: .1em;
    background-color: #2c3338;
}

h3 {
    font-weight: bold;
    font-size: .75em;
}

p {
    font-weight: normal;
    font-size: .5em;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    border-radius: .25em;
    padding-top: .25em;
    padding-bottom: .25em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;        
    text-decoration: none;
    display: inline-block;
    font-size: .75em;
    transition-duration: 0.1s;
}

button:hover {
    cursor: pointer;
    background-color: #239227; /* Green */
    color: white;
}

button:active {
    background-color: #3e8e41;
    transform: translateY(2px);
}

/*login.js*/
.title {
    color: white;
    margin: auto;
    padding-top: 200px;
    display: flex;
    justify-content: center;
}

.loginForm {
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
}

.userName {
    background-color: #3b4148;
    border-radius: .25em;
    background-image: none;
    border: 0;
    color: white;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    padding-left: .5em;
    transition: background-color 0.3s;
}

.login {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    border-radius: .25em;
    padding-top: .25em;
    padding-bottom: .25em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .75em;
    transition-duration: 0.1s;
}

.registerContainer {
    display: flex;
    font-size: .66em;
    justify-content: center;
}

.newUser {
    color: white;
    font-weight: bold;
}

.register {
    padding-left:.25em;
    color: #239227;
    text-decoration: none;
}

.register:hover {
    color: #5eaf60;
}

.register:active {
    color: #3e8e41;
    transform: translateY(2px);
}

.register:visited {
    text-decoration: none;
}

.errorMessage {
    color: white;
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.registeredSuccessfullyMessage {
    color: white;
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

/*
register.js
*/
.registerTitle {
    color: white;
    margin: auto;
    padding-top: 200px;
    display: flex;
    justify-content: center;
}

.registerForm {
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerInfoContainer {
    display: flex;
}

.registerUser {
    background-color: #3b4148;
    border-radius: .25em;
    background-image: none;
    border: 0;
    color: white;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    padding-left: .5em;
    transition: background-color 0.3s;
}

.loginLinkContainer {
    display: flex;
    font-size: .66em;
    justify-content: center;
}

.haveAccount {
    color: white;
    font-weight: bold;
}

.loginLink {
    padding-left:.25em;
    color: #239227;
    text-decoration: none;
}

.loginLink:hover {
    color: #5eaf60;
}

.loginLink:active {
    color: #3e8e41;
    transform: translateY(2px);
}

.loginLink:visited {
    text-decoration: none;
}

/*
error.js
*/
.errorTitle {
    color: white;
    margin: auto;
    padding-top: 200px;
    display: flex;
    justify-content: center;
}

.returnHome {
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

/*App.js*/
.logoutButtonContainer {
    display: flex;
    justify-content: flex-end;
    padding-top: 1em;
    padding-right: 1em;
}

.App {
    width: 100%;
}

.taskTitleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.taskTitle {
    color: white;
    margin: auto;
    padding-top: 150px;
    display: flex;
    justify-content: center;
}

.searchAndSort {
    display: flex;
    padding-top: .25em;
    padding-bottom: .25em;
    justify-content: center;

}

.allTasks {
    padding: 25px;
    width: 50%;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

.individualTasks {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4px;
    border-bottom: 1px solid black;
}

.taskStatus {
    font-size: .5em;
    font-weight: bolder;
    text-align: center;
    border: 1px solid #2c3338;
    border-radius: 10%;
    padding: 2.5px;
}

}
.allTasks .individualTask {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid blue;
    padding: 1rem;
    margin: 1rem;
}
.noTasks {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.App {
    color: white;
}
.displayTasksContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Edit Task */
.editTaskContainer {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.editTaskContainer form {
    background-color :#2c3338;
    border-radius: .25em;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    width: 40%;
    padding: 1rem;
    gap: 1rem;
}

.editTaskContainer form p {
    padding-top: 8px;
}

.addTitleField {
    height: 25px;
    width: 100%;
}

.addDescriptionField {
    height: 100px;
    width: 100%;
}

.currentProgress {
    height: 25px;
    width: 100%;
}

.editConfirm {
    padding-top: 8px;
    text-align: center;
}

.editTaskContainer .editTaskForm-buttons {
    position: absolute;
    top: 75%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 1rem;
}

.editTaskCancel {
    background-color: rgb(255, 100, 100);
}

.editTaskCancel:hover {
    cursor: pointer;
    background-color: red; /* Green */
    color: white;
}

.editTaskCancel:active {
    background-color: rgb(200, 0, 0);
    transform: translateY(2px);
}

.deleteContainer {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2;
  }

  .deleteConfirmtion {
    background-color :#2c3338;
    border-radius: .25em;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }

  .deleteConfirmtion p{
    font-weight: bolder;
  }

  .taskDelete {

    background-color: rgb(255, 100, 100);
}

.taskDelete:hover {
    cursor: pointer;
    background-color: red; /* Green */
    color: white;
}

.taskDelete:active {
    background-color: rgb(200, 0, 0);
    transform: translateY(2px);
}

  .cancelButton {
    background-color: rgb(255, 100, 100);
  }

  .cancelButton:hover {
    cursor: pointer;
    background-color: red; /* Green */
    color: white;
}

.cancelButton:active {
    background-color: rgb(200, 0, 0);
    transform: translateY(2px);
}

.addTaskContainer {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2;
}

  .newTaskWindow {
    background-color :#2c3338;
    border-radius: .25em;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }

  .taskOptions {
    display: flex;
    align-items: center;
  }
  
  .descriptionField {
    padding-top: 8px;
    padding-bottom: 4px;
  }
  
  .statusContainer {
    display: flex;
    flex-direction: column;
  }
  
.dueDate {
    padding-top: 4px;
}