.allTasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
}
.allTasks .individualTask {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid blue;
    padding: 1rem;
    margin: 1rem;
}

/* Edit Task */
.editTaskContainer {
    border: 1px solid purple;
    margin: 1rem;
}
.editTaskContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}
.editTaskContainer .editTaskForm-buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    padding-bottom: 1rem;
}